package.json

package-lock.json

style.css

webpack.config.js

database/migrations

database/models

database/seeders

database.json

/server/middleware

/server/controller.js

/__tests__

/coverage

/client/src/components/store.js

_emailPrivate.js